
server/src/.idea/

server/src/TickTick.Api/bin/

server/src/TickTick.Api/obj/

server/src/TickTick.Repositories/obj/

server/src/TickTick.Repositories/bin/

server/src/TickTick.Models/obj/

server/src/TickTick.Models/bin/

server/src/TickTick.Data/bin/

server/src/TickTick.Data/obj/

server/src/.vs/
